/*style.css*/

body {
    background: lightblue;
}

footer {
    display: none;
}

#instructions {
    size: 16px;
    font-family: Helvetica, sans-serif;
}

#instructions span {
    font-weight: bold;
}

#gameDiv {
    /* width: 50%;
    margin: 0px auto; */
    margin-bottom: 40px;
}

#startButton {
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

.colorDiv {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#redDiv {
    background-color: crimson;
    --shadow: red;
}

#greenDiv {
    background-color: #3CDC14;
    --shadow: #39FF00;
}

#blueDiv {
    background-color: #143CDC;
    --shadow: blue;
}

#yellowDiv {
    background-color: #FFC300;
    --shadow: yellow;
}

.highlight {
    box-shadow: 0px 0px 5px 5px var(--shadow, black);
    border-radius: 20px;
    background-color: var(--shadow) !important;
}

#colorsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 250px;
    margin-bottom: 20px;
    justify-content: center;

}

#gameMessage {
    font-size: 16px;
    font-weight: bold;
}

#gameMessage.lost {
    color: red;
}

#gameMessage.won {
    color: green;
}

#hint {
    font-size: 18px;
}

#password.error {
    border-color: red;
}

#errorMessage {
    color: red;
    margin-top: 5px;
    font-size: 16px;
}

#spellDiv {
    display: none;
}

@keyframes reveal {
    from {
        color: rgba(0, 0, 0, 0);
    } to {
        color: black;
    }
}

#spellDiv.reveal {
    display: block;
    animation-name: reveal;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}